<div class="recipe">
  <div class="recipe_contents">
    <p><%= recipe.id %>. </p>
    <p><%= prettify(recipe.contents) %></p>
    <p>
      <%= link_to 'Edit', edit_recipe_path(recipe) %> | 
      <%= link_to '&times;', recipe, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
</div>