body {
  background: #FFEFD5;
  font-family: "PT Sans Caption", Calibri;
  text-align: center;
  color: #8B4726;
}

.flash .success {
  background-color: #DFFFA5;
}

.flash .error {
  background-color: #FFCCCC;
}

body #search {
/*  position: fixed;*/
float: right;
/*  top: 0;*/
/*  width: 100%;*/
  font-size: 14px;
  background-color: #FCD59C;
  padding: 5px 0;
} 

body #main {
  width: 70%;
  margin: 70px auto;  
}

a {
  color: #CD6839;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #DB9370;
}

button, input[type="submit"] {
  box-shadow: 30px 40px;
  height: 20px;
}

#new_recipe_container {
  text-align: left;
}

form#new_recipe textarea {
  width: 450px;
}

.pagination .current {
  font-weight: bold;
  padding: 4px;
  background: #CD6839;
  color: white;
  border: 1px solid transparent;
  border-radius: 6px;
}
#recipes {
}

.recipe {
  border: 2px solid #CDAD00;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.recipe_name {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

.recipe_contents {
}
textarea#unparsed_contents {
	width: 500px;
	height: 200px;
}